# Node (prototipo de referencia)
node_modules/
server.log
*.log

# Java / Maven
target/
*.class
.mvn/
mvnw
mvnw.cmd

# IDE
.idea/
*.iml
.vscode/
.DS_Store

# Vaadin generated
frontend/generated/
frontend/node_modules/
*.tsbuildinfo

# transient
boot.err
jar.err

*.err
